<template>
  <bem-block v-bem></bem-block>
</template>

<script>

import BemBlock from './BemBlock.vue';

export default {
  name: 'nested-bem-block',
  components: {
    BemBlock,
  },
};

</script>
