<template functional>
  <tag
    v-bind="data.attrs"
    v-on="data.on"
    :class="[data.class, data.staticClass, props.bclass()]"
  >
    <transition :name="props.blockName + '__label--transition'">
      <div :class="props.eclass('label')" v-if="scopedSlots.label">
        <slot name="label" />
      </div>
    </transition>

    <transition :name="props.blockName + '__element--transition'">
      <div :class="props.eclass('element')" v-if="scopedSlots.element">
        <slot name="element" />
      </div>
    </transition>

    <transition :name="props.blockName + '__meta--transition'">
      <div :class="props.eclass('meta')" v-if="scopedSlots.meta">
        <slot name="meta" />
      </div>
    </transition>

    <transition :name="props.blockName + '__hint--transition'">
      <div :class="props.eclass('hint')" v-if="scopedSlots.hint">
        <slot name="hint" />
      </div>
    </transition>

    <transition :name="props.blockName + '__errors--transition'">
      <div :class="props.eclass('errors')" v-if="scopedSlots.errors">
        <slot name="errors" />
      </div>
    </transition>
  </tag>
</template>

<script>

import { Tag } from '@aspectus/vue-tag';
import { StylingFunctionalMixin } from '@aspectus/vue-bem-styling';

export default {
  name: 'control-descriptor-layout',
  mixins: [StylingFunctionalMixin],
  components: { Tag },
  props: {
    blockName: { type: String, default: 'control-descriptor' },
  },
};

</script>
