<template>
  <div id="app">
    <div class="g-container g-container--fit_md">
      <div class="ds-section ds-section--space_xs">
        <div class="ds-section__element">
          <control-descriptor
            class='descriptor-class'
            v-model="model"
            :disabled="false"
            :required="false"
            :readonly="false"
            :placeholder="'Input here 1'"
            :invalid="false"
            element="input"
            :errors='errors'
            hint-text="hint available"
          >
            <template #label>
              label here
            </template>
          </control-descriptor>
        </div>
        <div class="ds-section__element">
          <control-descriptor
            class='descriptor-class'
            v-model="model"
            :disabled="false"
            :required="false"
            :readonly="false"
            :placeholder="'Input here 2'"
            :invalid="false"
            element="input"
            :errors='errors'
            hint-text="hint available"
            variant="changed"
            name="sobako"
            label-text="label here"
          />
        </div>
        <div class="ds-section__element">
          <vee-control-descriptor
            class='descriptor-class'
            v-model="model"
            :disabled="false"
            :required="false"
            :readonly="false"
            rules="required"
            :placeholder="'Input here 3'"
            :invalid="false"
            element="input"
            hint-text="hint available"
            variant="changed"
            name="sobako"
            label-text="label here"
          />
        </div>
        <div class="ds-section__element">
          <vee-control-descriptor
            class='descriptor-class'
            v-model="model"
            :disabled="false"
            :required="false"
            :readonly="false"
            rules="required"
            :placeholder="'Input here 4'"
            :invalid="false"
            element="control-custom"
            hint-text="hint available"
            variant="changed"
            name="sobako"
            label-text="label here"
          />
        </div>
        <div class="ds-section__element">
          <vee-control-descriptor
            class='descriptor-class'
            v-model="model"
            :disabled="false"
            :required="false"
            :readonly="false"
            rules="required"
            :placeholder="'Input here 5'"
            :invalid="false"
            element="control-custom-input"
            hint-text="hint available"
            variant="changed"
            name="sobako"
            label-text="label here"
          />
        </div>
        <div class="ds-section__element">
          <vee-control-descriptor
            class='descriptor-class'
            v-model="model"
            :disabled="false"
            :required="false"
            :readonly="false"
            :rules="{ required: false }"
            :placeholder="'Input here 6'"
            :invalid="false"
            element="control-custom-input"
            hint-text="hint available"
            variant="changed"
            name="sobako"
            label-text="label here"
          />
        </div>
        <div class="ds-section__element">
          <input />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      input: '',
      errors: [
        'lobatto whitto',
      ],
    };
  },

  computed: {
    model: {
      get() {
        return this.input;
      },
      set(value) {
        this.input = value.target.value;
      },
    },
  },
};
</script>
