<template>
  <div>
    <router-parameters-controller
      ref="controller"
      v-slot="{ parameters, changeParameters }"
    >
      <button @click="updateParameters(changeParameters)">Clicker</button>
    </router-parameters-controller>
  </div>
</template>

<script>

export default {
  methods: {
    updateParameters(changer) {
      changer({ foo: 'changed', different: 'exists' });
    },
  },
};

</script>
